
header {
    margin: 30px;
    height: 100%;
}
.navbar {
    margin-top: 20px;
}
.menu {
    display: none;
    margin-left: -10px;
}
.titre {
    font-size: 20px;
    font-weight: 900;

}

.navbar-nav {
    list-style: none;
    font-size: 12px;
    font-weight: 400;
    float: right;
    margin: 0;

}
.navbar-nav li {
    display: inline;
    margin-right: 20px;

}

/******navigation 2****/
.navbar2{
    position: relative;
    top: -20px;
    background: black;
}

.navbarcontain2 {
    list-style: none;
    line-height: 50px;
    color: white;
}
.navbarcontain2 li {
    cursor: pointer;
    opacity: 0.5;

}

.bg_1 {
    position: relative;
    top: -550px;
    width: 140%;
    height: 100%;
    background: url(bg_1.jpeg);
    margin-left: 400px;
    z-index: -5;

}

h1{
    font-size:68px;
}
p {
    width: 600px;
    margin-top: 20px;
}

a {
   padding: 15px;
    color: white;
    background-color: blue;
    text-decoration: none;
    transition: background 0.5s;
}

.slide:first-child {
    height: 80%;
    width: 100%;
    margin-top: 10px;
}
.slide-child {
    width: 100%;
}

#slide1 .textContenu {
    width: 50%;
    padding-top:50px ;
    height: 600px;
}

#slide1 {
    background: url(bg_1.jpeg);
    background-position: right;
    background-size: 950px 1000px;
    background-repeat: no-repeat;
}

#slide2 .textContenu {
    width: 60%;
    padding-top:22px ;
   height: 600px;
}

#slide2 {
    background: url(bg_2.jpeg);
   background-size: 950px 1000px;
    background-position: right;
    background-repeat: no-repeat;
}

.anim {
    animation-duration: 5s;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
    0%{opacity: 0}
    100%{opacity: 1}
}

@keyframes fadeOut {
    0%{opacity: 0}
    100%{opacity: 1}
}

.fadeOut {
    animation-name: fadeOut;
}
@media (max-width: 995.98px) {
    body {
        padding: 0;
        margin: 0;
    }
     header {
         margin: 0;
     }
    .slide {
        margin-top: 0;
    }
    #slide1 .textContenu {
        width: 100%;
        background: url('');
        background-size: cover;
        margin: 0 auto;
    }

}